#top{

 
  padding-bottom: 25%;
  background-image: url(../images/photo-1517604931442-7e0c8ed2963c.jpg);
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  text-decoration: none;
  color: aliceblue;
}
#nav{
  margin-bottom: 0;
  padding-top: 0%;
  color: white;
}
h1,h2{
  text-align: center;
  color: yellow;
  margin-top: 10%;
  font-family: 'Pacifico', cursive;
}
