body{
  background-color: rgb(248, 72, 72);
  opacity: .90;
  overflow-x: hidden;
}
#top{

 
  padding-bottom: 25%;
  background-image: url(../images/photo-1517604931442-7e0c8ed2963c.jpg);
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  text-decoration: none;
  color: rgb(250, 236, 159);
}
#nav{
  margin-bottom: 0;
  padding-top: 0%;
  color: white;
}
h1,h2{
  text-align: center;
  color: rgb(248, 225, 93);
  margin-top: 10%;
  font-family: 'Pacifico', cursive;
  
}
.warbut{
  margin-left: 20%;
  margin-right: 20%;
  
}

.logo{
  width:7%;
  height: 7%;
}
.fonth{
  color: rgb(250, 236, 159);
  font-weight: 1500;
}

.item{
  padding-left:5px;
  padding-right:5px;
}
.item-card{
  transition:0.5s;
  cursor:pointer;
}
.item-card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.item-card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}
.row{
  padding-top: 5%;

}
img{
  height: 300px;
}
#final{
  display: none;
}